/* FadeSection.css */

.fade-section {
  background: #000;
    opacity: 1;
    animation: fadeOut 5s ease-in-out forwards;
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  