@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.heading{
  font-family: "Inter", "Inter Placeholder", sans-serif;
  font-weight: 700;
  font-size: 64px;
}

.join-container {
  /* background: #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 200px; /* 200px */
    padding: 3rem 15.5rem; /* 40px 20px */
    text-align: center;
    /* margin-top: 1.75rem;  */
    /* 60px */
  }
  
  .join-text {
    color: #ccc;
    font-size: 1.125rem; /* 18px */
    margin-bottom: 1.25rem; /* 20px */
  }
  
  .join-btn {
    width: 12.5rem; /* 200px */
    height: 3.75rem; /* 60px */
    background-color: white;
    color: black;
    font-size: 1.125rem;
    font-weight: 500;
    border: none;
    border-radius: 999px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    transition: background-color 0.6s ease, color 0.6s ease;
  }
  
  .join-btn .text {
    position: relative;
    z-index: 1;
  }
  
  .arrow2 {
    position: absolute;
    right: 1.25rem; /* 20px */
    opacity: 0;
    transform: translateX(1.25rem);
    transition: transform 0.5s ease, opacity 0.5s ease;
    z-index: 1;
    font-size: 1.25rem; /* 20px */
  }
  
  .join-btn:hover {
    background-color: #aeff00;
    color: black;
  }
  
  .join-btn:hover .arrow2 {
    opacity: 1;
    transform: translateX(0);
  }
  
 
  
  /* Media Queries */
  @media (max-width: 768px) {
    .heading{
      font-family: "Inter", "Inter Placeholder", sans-serif;
      font-weight: 700;
      font-size: 34px;
    }
    .join-container {
      min-height: 9.375rem; /* 150px */
      padding: 1rem 0.625rem; /* 15px 10px */
    }
  
    .join-text {
      font-size: 1rem;
    }
  
    .join-btn {
      width: 11.25rem; /* 180px */
      height: 3.125rem; /* 50px */
      font-size: 1rem;
    }
  
    .arrow2 {
      font-size: 1.125rem;
      right: 0.9375rem; /* 15px */
    }
  

  }
  
  @media (max-width: 480px) {
    .heading{

      font-size: 4px;
    }
    .join-text {
      font-size: 0.9375rem; /* 15px */
    }
  
    .join-btn {
      width: 10rem; /* 160px */
      height: 2.8125rem; /* 45px */
      font-size: 0.9375rem;
    }
  
    .arrow2 {
      font-size: 1rem;
      right: 0.625rem; /* 10px */
    }
  
    .position {
      bottom: 30vh;
    }
  }
  




  .title {
    font-family: "Inter", sans-serif;
    padding: 2rem 5px;
    font-size: 34px;
  }

  .para {
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    font-weight: lighter;
  }